<%= form_with url: movie_path, local: true do |form| %>
  <%= form.label :movie_search %>
  <%= form.text_field :movie_search %>

  <%= form.submit "Search by Movie Title" %>
<% end %>

<% if @movies.any? %>
<p> Movie Count: <%= @movies.count %> </p>

  <% @movies.each do |movie| %>
    <section id="movie-<%= movie.id %>">
      <%= link_to "#{movie.title}", movie_details_path(movie_id: movie.id) %>
      <p> Vote Average: <%= movie.vote_average %> </p>
    <section>
  <% end %>

<% elsif @movies.empty? %>
  <h1> No movies found! Please try again. </h1>
<% end %>
